* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }

  /* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
  */
 @font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 100;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format('opentype');
   font-display: fallback;
 }
 @font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 300;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
   font-display: fallback;
 }
 @font-face {
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
		 url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
		 url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
   font-display: fallback;
  }
 @font-face {
	font-family: 'Noto Sans TC';
	font-style: normal;
	font-weight: 500;
	src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format('woff2'),
		 url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format('woff'),
		 url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format('opentype');
   font-display: fallback;
  }
 @font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 700;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
   font-display: fallback;
  }

  body {
	position: relative;
	background-color: #ffcc33;
	overflow-x: hidden;
  }

  .navbar {
	width: 100%;
	box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
	background-color: rgb(255, 255, 255);
  }

  .container {
	max-width: 100vw;
	width: 100%;
	margin: auto;
  }
  
  .nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 62px;
  }
  
  .navbar .menu-items {
	display: flex;
  }
  
  .navbar .nav-container li {
	list-style: none;
  }
  
  .navbar .nav-container a {
	text-decoration: none;
	color: #0e2431;
	font-weight: 500;
	font-size: 1.2rem;
	padding: 0.7rem;
  }
  
  .navbar .nav-container a:hover{
	  font-weight: bolder;
  }
  
  .nav-container {
	display: block;
	position: relative;
	height: 60px;
  }
  
  .nav-container .checkbox {
	position: absolute;
	display: block;
	height: 32px;
	width: 32px;
	top: 20px;
	right: 5%;
	z-index: 6;
	opacity: 0;
	cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
	display: block;
	height: 26px;
	width: 32px;
	position: absolute;
	top: 17px;
	right: 5%;
	z-index: 5;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
	display: block;
	height: 4px;
	width: 100%;
	border-radius: 10px;
	background: #0e2431;
  }
  
  .nav-container .hamburger-lines .line1 {
	transform-origin: 0% 0%;
	transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
	transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
	transform-origin: 0% 100%;
	transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
	position: relative;
	padding-top: 120px;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
	background-color: rgb(255, 255, 255);
	height: 100vh;
	width: 100%;
	transform: translate(100%);
	display: flex;
	flex-direction: column;
	margin-left: 0px;
	padding-left: 0px;
	transition: transform 0.5s ease-in-out;
	text-align: center;
	z-index: 4;
  }
  
  .navbar .menu-items li {
	margin-bottom: 1.2rem;
	font-size: 1.5rem;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
  }
  
  .logo {
	position: absolute;
	display: flex;
    flex-direction: row;
	top: 20%;
	left: 5%;
	font-size: 1.2rem;
	font-family: Arial, Helvetica, sans-serif;
	color: #0e2431;
  }

  .fit-picture {
	width: 30px;
  }

  .logo h6 {
	font-size: 15pt;
	margin: auto 0.5rem;
	padding: auto;
  }
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
	transform: translateX(0);

  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
	transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
	transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
	transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
	display: none;
  }


 /*中間資訊*/
  .info{
	text-align:center;
	width:100vw;
	height:auto;
  }

  

  .title_sec{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-items: center;
	margin: 0 15rem;
	justify-content: space-between;
	margin-top: 3rem;
  }

  .title{
	font-size: 20pt;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 700;
  }


  .btn1{
	border-radius:40px;
	cursor:pointer;
	padding: 5px 15px;
	height:35px;
	font-size: 8pt;
	font-family: Arial, Helvetica, sans-serif;
	color:#000000;
	background-color:rgba(255, 255, 255, 0);
	border:1.5px #000000 solid;
}
  
.btn1:hover{
	border:0;
	background-color:#000000;
	color:#fff;
  }

/*第一張卡*/
.wrapper1{
	display:flex;
	margin: 2rem 15rem;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
	}

/*第二張卡*/
.wrapper2{
	display:flex;
	margin: 1rem 15rem;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
	}

/*第二張卡*/
.wrapper3{
	display:flex;
	margin: 1rem 15rem;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
	}

  .item-L{
	width: 50px;
	height: auto;
	color: rgb(255, 255, 255);
	display: flex;
	flex-direction: row;
	text-align: left;
	padding:50px 50px 50px 50px;
	position: relative;
  }

  .item-1 {
	font-family: 'Noto Sans TC',Arial, Helvetica, sans-serif;
	background-color: rgb(255, 255, 255);
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.block1{
	background-color:#3291fd ;
	width:15px;
	height:60px;
	position:absolute;
	left: 0;
	top:40px;
}

.block2{
	background-color:#5c2dea ;
	width:15px;
	height:60px;
	position:absolute;
	left: 0;
	top:40px;
}

.block3{
	background-color:#4152ed  ;
	width:15px;
	height:60px;
	position:absolute;
	left: 0;
	top:40px;
}


 .item-1 h3{
	font-size: 14pt;
	font-weight: 500;
	color: #3291fd;
	line-height: 15pt;
 }

 .item-1 h2{
	font-size: 14pt;
	font-weight: 500;
	color: #5c2dea ;
	line-height: 15pt;
 }

 .item-1 h1{
	font-size: 14pt;
	font-weight: 500;
	color: #4152ed  ;
	line-height: 15pt;
 }

 .item-1 h6{
	font-size: 8pt;
	font-weight: 500;
	color: #717171;
	line-height: 30pt;
 }

  .item-1 h5{
	font-size: 12pt;
	font-weight: 500;
	color: rgb(225, 70, 135);
	line-height: 30pt;
 }

 .item-1 h5:hover{
	color: rgb(250, 168, 202);
 }

 .item-1 a{
	text-decoration:none;
 }


 .item-1 p{
	font-size: 11pt;
	color: #000000;
	line-height: 16pt;
	margin-top: 1rem;
 }

 .item-1 li{
	font-size: 11pt;
	color: #000000;
	line-height: 16pt;
 }


 .item-R{
	width: 50px;
	height: auto;
	color: white;
	display: flex;
	flex-direction: row;
	text-align: left;
	padding:0;
	position: relative;
  }

  .item-2 {
	font-family: 'Noto Sans TC',Arial, Helvetica, sans-serif;
	background-color: #f1f1f1;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.item-3 {
	font-family: 'Noto Sans TC',Arial, Helvetica, sans-serif;
	background-color: #dcdcff;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.item-4 {
	font-family: 'Noto Sans TC',Arial, Helvetica, sans-serif;
	background-color: #c3e5fe;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}


/*01slider_start*/
/**/
/**/

    .slider1 {
		width: 100%;
		overflow: hidden;
		position: relative;
		text-align: center;
		line-height: 340px;
	}

	.slider1 img{
		width: 100%;
	}

	.slider1 > .radio {
		display: none;
	}

	/* slide items */
	.slider1 > .item {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	.slider1 > .radio:checked ~ .item {
		transition: all .4s ease 0s;
	}
	/* labels ( prev. and next button ) */
	.slider1 > .label {
		display: none;
		position: absolute;
		z-index: 4;
		top: 0;
		height: 100%;
		width: 30px;
		background-color: rgba( 255, 255, 255, .5 );
		opacity: 0;
		transition: opacity .2s ease 0s;
	}
	.slider1:hover > .label {
		opacity: 1;
		transition: opacity .2s ease 0s;
	}
	/* indicators */
	.slider1 > .indicator {
		position: relative;
		top: -50px;
		display: inline-block;
		bottom: 5px;
		z-index: 5;
		width: 10px;
		height: 10px;
		border-radius: 5px;
		background-color: rgba( 255, 255, 255, .5 );
		box-shadow: 0 0 1px #000;
		vertical-align: bottom;
		line-height: 1;
		opacity: 0;
		transition: opacity .2s ease 0s;
	}
	.slider1 > .indicator + .indicator {
		margin-left: 5px;
	}
	.slider1:hover > .indicator {
		opacity: 1;
		transition: opacity .2s ease 0s;
	}
	.slider1 > .indicator label {
		display: block;
		width: 100%;
		height: 100%;
	}


	/* [ active slide item ] asterisks: slide.length - 1 */
	.slider1 > .radio:checked + * + * + * + * + .item {
		left: 0;
		z-index: 3;
	}
	/* [ previous slide item ] asterisks: slide.length - 2 */
	.slider1 > .radio:checked + * + * + * + .item,
	.slider1 > .radio:first-of-type:checked ~ .item:last-of-type {
		left: -100%;
		z-index: 2;
	}
	/* [ next slide item ] asterisks: slide.length */
	.slider1 > .radio:checked + * + * + * + * + * + .item,
	.slider1 > .radio:last-of-type:checked ~ .item:first-of-type {
		left: 100%;
		z-index: 2;
	}
	/* [ previous button ] asterisks: ( slide.length - 1 ) * 2 */
	.slider1 > .radio:checked + * + * + * + * + * + * + * + * + .label,
	.slider1 > .radio:first-of-type:checked ~ .label:last-of-type {
		left: 0;
		display: block;
	}
	/* [ next button ] asterisks: slide.length * 2 */
	.slider1 > .radio:checked + * + * + * + * + * + * + * + * + * + * + .label,
	.slider1 > .radio:last-of-type:checked ~ .label:first-of-type {
		right: 0;
		display: block;
	}
	/* [ active indicator ] asterisks: ( slide.length * 3 ) - 1 */
	.slider1 > .radio:checked + * + * + * + * + * + * + * + * + * + * + * + * + * + * + .indicator {
		background-color: rgba( 127, 127, 127, .5 );
	}

/*slider01_end*/


/*02slider_start*/
/**/
/**/

.slider2 {
	width: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
	line-height: 340px;
}

.slider2 img{
	width: 100%;
}

.slider2 > .radio2 {
	display: none;
}

/* slide items */
.slider2 > .item2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.slider2 > .radio2:checked ~ .item2 {
	transition: all .4s ease 0s;
}
/* labels ( prev. and next button ) */
.slider2 > .label2 {
	display: none;
	position: absolute;
	z-index: 4;
	top: 0;
	height: 100%;
	width: 30px;
	background-color: rgba( 255, 255, 255, .5 );
	opacity: 0;
	transition: opacity .2s ease 0s;
}
.slider2:hover > .label2 {
	opacity: 1;
	transition: opacity .2s ease 0s;
}
/* indicators */
.slider2 > .indicator2 {
	position: relative;
	top: -50px;
	display: inline-block;
	bottom: 5px;
	z-index: 5;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: rgba( 255, 255, 255, .5 );
	box-shadow: 0 0 1px #000;
	vertical-align: bottom;
	line-height: 1;
	opacity: 0;
	transition: opacity .2s ease 0s;
}

.slider2 > .indicator2 + .indicator2 {
	margin-left: 5px;
}
.slider2:hover > .indicator2 {
	opacity: 1;
	transition: opacity .2s ease 0s;
}
.slider2 > .indicator2 .label2 {
	display: block;
	width: 100%;
	height: 100%;
}

/* [ active slide item ] asterisks: slide.length - 1 */
.slider2 > .radio2:checked + * + * + * + * + .item2 {
	left: 0;
	z-index: 3;
}
/* [ previous slide item ] asterisks: slide.length - 2 */
.slider2 > .radio2:checked + * + * + * + .item2,
.slider2 > .radio2:first-of-type:checked ~ .item2:last-of-type {
	left: -100%;
	z-index: 2;
}
/* [ next slide item ] asterisks: slide.length */
.slider2 > .radio2:checked + * + * + * + * + * + .item2,
.slider2 > .radio2:last-of-type:checked ~ .item2:first-of-type {
	left: 100%;
	z-index: 2;
}
/* [ previous button ] asterisks: ( slide.length - 1 ) * 2 */
.slider2 > .radio2:checked + * + * + * + * + * + * + * + * + .label2,
.slider2 > .radio2:first-of-type:checked ~ .label2:last-of-type {
	left: 0;
	display: block;
}
/* [ next button ] asterisks: slide.length * 2 */
.slider2 > .radio2:checked + * + * + * + * + * + * + * + * + * + * + .label2,
.slider2 > .radio2:last-of-type:checked ~ .label2:first-of-type {
	right: 0;
	display: block;
}
/* [ active indicator ] asterisks: ( slide.length * 3 ) - 1 */
.slider2 > .radio2:checked + * + * + * + * + * + * + * + * + * + * + * + * + * + * + .indicator2 {
	background-color: rgba( 127, 127, 127, .5 );
}

/*slider02_end*/

/*03slider_start*/
/**/
/**/

.slider3 {
	width: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
	line-height: 340px;
}

.slider3 img{
	width: 100%;
}

.slider3 > .radio3 {
	display: none;
}

/* slide items */
.slider3 > .item3 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.slider3 > .radio3:checked ~ .item3 {
	transition: all .4s ease 0s;
}
/* labels ( prev. and next button ) */
.slider3 > .label3 {
	display: none;
	position: absolute;
	z-index: 4;
	top: 0;
	height: 100%;
	width: 30px;
	background-color: rgba( 255, 255, 255, .5 );
	opacity: 0;
	transition: opacity .2s ease 0s;
}
.slider3:hover > .label3 {
	opacity: 1;
	transition: opacity .2s ease 0s;
}
/* indicators */
.slider3 > .indicator3 {
	position: relative;
	top: -50px;
	display: inline-block;
	bottom: 5px;
	z-index: 5;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: rgba( 255, 255, 255, .5 );
	box-shadow: 0 0 1px #000;
	vertical-align: bottom;
	line-height: 1;
	opacity: 0;
	transition: opacity .2s ease 0s;
}

.slider3 > .indicator3 + .indicator3 {
	margin-left: 5px;
}
.slider3:hover > .indicator3 {
	opacity: 1;
	transition: opacity .2s ease 0s;
}
.slider3 > .indicator3 .label3 {
	display: block;
	width: 100%;
	height: 100%;
}

/* [ active slide item ] asterisks: slide.length - 1 */
.slider3 > .radio3:checked + * + * + * + * + .item3 {
	left: 0;
	z-index: 3;
}
/* [ previous slide item ] asterisks: slide.length - 2 */
.slider3 > .radio3:checked + * + * + * + .item3,
.slider3 > .radio3:first-of-type:checked ~ .item3:last-of-type {
	left: -100%;
	z-index: 2;
}
/* [ next slide item ] asterisks: slide.length */
.slider3 > .radio3:checked + * + * + * + * + * + .item3,
.slider3 > .radio3:last-of-type:checked ~ .item3:first-of-type {
	left: 100%;
	z-index: 2;
}
/* [ previous button ] asterisks: ( slide.length - 1 ) * 2 */
.slider3 > .radio3:checked + * + * + * + * + * + * + * + * + .label3,
.slider3 > .radio3:first-of-type:checked ~ .label3:last-of-type {
	left: 0;
	display: block;
}
/* [ next button ] asterisks: slide.length * 2 */
.slider3 > .radio3:checked + * + * + * + * + * + * + * + * + * + * + .label3,
.slider3 > .radio3:last-of-type:checked ~ .label3:first-of-type {
	right: 0;
	display: block;
}
/* [ active indicator ] asterisks: ( slide.length * 3 ) - 1 */
.slider3 > .radio3:checked + * + * + * + * + * + * + * + * + * + * + * + * + * + * + .indicator3 {
	background-color: rgba( 127, 127, 127, .5 );
}

/*slider03_end*/


.footerbar {
	width: 100%;
	background-color: rgb(255, 255, 255);
	justify-content: space-between;	
	display:flex;
	flex-direction: row;
	padding: 2rem 5rem;
	position:absolute;
	bottom: 0;
	z-index: 6;
	margin-bottom: -10rem;
  }

.footerbar h2{
	font-size: 10pt !important ;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 700 !important ;
}

.footerbar p{
	font-size: 6pt !important ;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 100 !important ;
	line-height: 30px;
}

.footerbar img{
	width: 20px;
}

@media (max-width: 1040px){

	/*第一張卡*/
	/**/
	/**/
	.wrapper1{
		display:flex;
		margin: 2rem 5rem;
		box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
	}
	/*第二張卡*/
	/**/
	/**/
	.wrapper2{
		display:flex;
		margin: 2rem 5rem;
		box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
	}
	/*第三張卡*/
	/**/
	/**/
	.wrapper3{
		display:flex;
		margin: 2rem 5rem;
		box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
	}
}


@media (max-width: 767px) {
	body {
		overflow-x: hidden;
	  }

	.navbar .menu-items {
		transform: translate(0%);
		opacity: 0;
	  }

	  .nav-container input[type="checkbox"]:checked ~ .menu-items {
		transform: translateX(0);
		opacity: 1;
	  }

  
		/*中間資訊*/
		.info{
			text-align:center;
			width:100vw;
			height:auto;
		}

		.title_sec{
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-items: center;
			margin: 0 1rem;
			justify-content: space-between;
			margin-top: 3rem;
		}

		.title{
			font-size: 20pt;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			font-weight: 700;
		}


		.btn1{
			border-radius:40px;
			cursor:pointer;
			padding: 5px 15px;
			height:35px;
			font-size: 8pt;
			font-family: Arial, Helvetica, sans-serif;
			color:#000000;
			background-color:rgba(255, 255, 255, 0);
			border:1.5px #000000 solid;
			display: none;
		}
		
		.btn1:hover{
			border:0;
			background-color:#000000;
			color:#fff;
		}

		/*第一張卡*/
		/**/
		/**/
		.wrapper1{
			display:flex;
			margin: 2rem 1rem 0.1rem 1rem;
			box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
			flex-direction: column;
		}
		/*第二張卡*/
		.wrapper2{
			display:flex;
			margin: 0.5rem 1rem 0.1rem 1rem;
			box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
			flex-direction: column;
		}
		/*第三張卡*/
		.wrapper3{
			display:flex;
			margin: 0.5rem 1rem 15rem 1rem;
			box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
			flex-direction: column;
		}
		

		.item-L{
			width: 100%;
			padding:20px 20px 20px 20px;
		}

		.item-R{
			width: 100%;
		}

		.item-1 {
			flex-grow: 1;
			
		}

		.item-2 {
			flex-grow: 1;
			
		}

		.block1{
			background-color:#3276fd ;
			width: 10px;
			height:60px;
			position:absolute;
			left: 0;
			top:15px;
		}

		.block2{

			width: 10px;
			height:60px;
			position:absolute;
			left: 0;
			top:15px;
		}

		.block3{
			width: 10px;
			height:60px;
			position:absolute;
			left: 0;
			top:15px;
		}
		
		.item-1 h3{
			font-size: 16pt;
			font-weight: 500;
			color: #3276fd;
			line-height: 18pt;
			padding-left: 10px;
			padding-top: 10px;
		}

		.item-1 h6{
			font-size: 8pt;
			font-weight: 500;
			color: #717171;
			line-height: 20pt;
			padding-left:10px;
		}

		.item-1 p{
			font-size: 12pt;
			color: #000000;
			line-height: 17pt;
			margin-top: 1rem;
			padding-left: 10px;
		}

		.item-1 li{
			font-size: 12pt;
			color: #000000;
			line-height: 17pt;
			padding-left: 10px;
		}

		.footerbar {
			width: 100%;
			height: auto;
			background-color: rgb(255, 255, 255);
			justify-content: space-between;	
			display:flex;
			flex-direction: column;
			flex-wrap: wrap;
			margin-bottom: -20rem;
			padding: 2rem 1rem 2rem 1rem;
		  }
	
		  .footerbar p{
			margin-bottom: 1rem;
			line-height: 30px;
		}


 }


 
